asgiref==3.10.0
black==25.9.0
boto3==1.40.69
botocore==1.40.69
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
coverage==7.11.0
coveralls==4.0.1
cryptography==44.0.0
Django==5.2.7
django-cors-headers==4.4.0
django-filter==25.2
django-storages==1.14.6
djangorestframework==3.15.0
docopt==0.6.2
flake8==7.3.0
gunicorn==20.1.0
idna==3.11
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
psycopg2-binary==2.9.7
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
PyJWT==2.10.1
pytokens==0.2.0
pytz==2025.2
requests==2.32.3
s3transfer==0.14.0
setuptools==80.9.0
sqlparse==0.5.3
urllib3==2.5.0
google-generativeai==0.8.3
PyPDF2==3.0.1
python-docx==1.1.2
python-magic==0.4.27
